* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.base {
    width: 326px;
    height: 810px;
    border: 2px solid black;
    padding: 30px;
}

h1 {
    font-size: 30px;
    margin-top: 10px;
}

.lista-compras {
    display: flex;
}

.position-carrinho {
    margin-left: 5px;
}

.tamanho-carrinho {
    width: 60px
}

.position-moreoptions {
    margin-left: 70px;
}

.quebra1 {
    width: 320.2px;
    border-bottom: 1px solid #000000;
}

.quebra2 {
    width: 320.2px;
    border-bottom: 1px solid #000000;
    margin-top: 285px;
}

.texto-nota {
    font-size: 20px;
    margin-top: 15px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 90px 0px 0px;
}

.NavBar-Img {
    width: auto;
    height: 50px;
    padding-left: 85px;
}

.NavBar-Img-Engrenagem {
    width: auto;
    height: 50px;
    margin-left: 85px;
    margin-right: 1px;
}